# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
licenta_project/virtual_garden/static/virtual_garden/images

# Environments
.env
.venv
env/
venv/
ENV/

# Visual Studio Code
.vscode/

# Alte fișiere temporare
*.bak
*.swp
*~
todo.md
ideas.md
classifier
research

# System Files
.DS_Store