{% extends "blog/base.html" %}
{% block content %}
  <h2>Activity Feed</h2>
  <div class="activity-container">
    {% for act in activities %}
    <div class="activity-card">
      <div class="activity-header">
        <span class="activity-time">{{ act.timestamp|date:"SHORT_DATETIME_FORMAT" }}</span>
        <a href="{% url 'user-garden' act.user.username %}" class="activity-user">@{{ act.user.username }}</a>
      </div>
      <div class="activity-body">
        {{ act.message }}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}